@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 3em;
}

h4 {
  font-size: 1em;
  padding-top: 5px;
}

h5 {
  font-size: 2em;
}

.player{
  position: sticky;
  top: 20%;
}

.global-score {
  font-size: 6em;
  color: #eb4d4c;
  position: sticky;
  top: 25%;
}

.current-score {
  background: #eb4d4c;
  width : 150px;
  position: sticky;
  top: 60%;
}



.icons {
  color: #eb4d4c;
}

.action {
  font-size: 1.2em;
}


.new-game {
  position: sticky;
  top: 6%;
  cursor: pointer;
}

.dice {
  width: 96px;
  height: 96px;
  position: sticky;
  top: 30%;
  box-shadow: 0 0 10px 10px rgba(204, 204, 204, 0.2);
}

.roll-dice {
  position: sticky;
  top: 60%;  
}

.hold {
  position: sticky;
  top: 67%;  
}

.active-player::after {
  content: url(images/dot.svg);
}

.modal-body {
  font-size: 1.5em;
}