@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 3em;
}

h4 {
  font-size: 0.8em;
  padding-top: 5px;
}

h5 {
  font-size: 2em;
}

.player{
  margin-top: 20%;
}

.current-score {
  background: #eb4d4c;
  width : 120px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.global-score {
  font-size: 6em;
  color: #eb4d4c;
}

