@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}
h2 {
  font-size: 3em;
}
h4 {
  font-size: 1em;
  padding-top: 5px;
}
h5 {
  font-size: 2em;
}
.player{
  position: sticky;
  top: 20%;
}
.global-score {
  font-size: 6em;
  color: #eb4d4c;
  position: sticky;
  top: 25%;
}
.current-score {
  background: #eb4d4c;
  width : 150px;
  position: sticky;
  top: 60%;
}
.icons {
  color: #eb4d4c;
}
.action {
  font-size: 1.2em;
  cursor: pointer;
}
.action:hover {
  font-weight: bold;
}
.new-game {
  position: sticky;
  top: 6%;
  }
.dice {
  width: 96px;
  height: 96px;
  position: sticky;
  top: 30%;
  box-shadow: 0 0 10px 10px rgba(204, 204, 204, 0.2);
}
.roll-dice {
  position: sticky;
  top: 60%;  
}
.hold {
  position: sticky;
  top: 67%;  
}
.active-player::after {
  content: url(images/dot.svg);
  position: absolute;
  bottom: -10%;
  animation: signal 2s;
}
@keyframes signal {
  0% {
    transform: scale(0);
  }
  33% {
    transform: scale(2.5);
  }
  67% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* CSS for new game modal */
.modal-body {
  font-size: 1.5em;
}


/* CSS for winner modal */
.bi-trophy-fill {
  color: #FFD700;
  padding-right: 10px;
}


/* CSS for toaster */
#toast-1, #toast-2, #toast-3 {
  position: absolute;
  top: 20px;
  right: -390px;
  width: 370px;
  height: 100px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 10px rgba(50, 50, 50, 0.10);
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.2fr 6fr;
  transition: 1s;
}
.toast-info {
  border-left: 8px solid #299fd6;
}
.toast-danger {
  border-left: 8px solid #eb4d4c;
}
.info {
  color: #299fd6;
}
.danger {
  color: #eb4d4c;
}
.container-1,.container-2{
  align-self: center;
}
.container-1 svg{
  font-size: 40px;
}
.container-2 p:first-child{
  color: #101020;
  font-weight: 600;
  font-size: 1.2em;
}
.container-2 p:last-child{
  font-size: 1em;
  color: #656565;
  font-weight: 400;
}
.container-2 p {
  margin: 0;
  padding-left: 10px;
}
p strong{
  font-size: 1.2em;
}